body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(237, 240, 243);
}

.logo h1{
    padding: 0;
    margin-left: 25px;
    font-size: 38px;
    
}
.logo i{
    visibility:hidden;
}

.navbar li{
    list-style: none;
    margin-left: 2px;

    padding: 0 0 31px;

}
.navbar li a{
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.btn{
    border: red;
    border-radius: 15px;
    background-color: red;
    color: seashell;
    width: 125px;
    height: 35px;

}
.container{
    display: flex;
    flex-basis: 50%;

}
.middle h1{
    font-size: 48px;
    width: 402px;
    /* padding: 3px 5px 3px 3px; */
    margin: -21
    px
     -3
    px
     -90
    px
     63
    px
    ;
    
}
.right{
   padding:0px 2px 2px 250px;
   margin: -21px;
    font-size: 15px;
    width: 242px;
   
    
    
}
 .right  hr{
    /* border-bottom: 2px solid red ; */
    /* color: red; */
    /* background-color: red; */
    /* lin */
} 
.cont{
    display: flex;
    position: absolute;
    left: 190px;
    top: 390px;
}
.card{
    margin: 10px;
    border-radius: 8px;
    background-color:white;
    box-shadow:   black;
    width: 200px;
    height: 200px;
    padding: 20px;
    flex-wrap: wrap;
}
.card img{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 200px;
}
ul{
    margin-bottom: 453;
}
/* .cont{
    margin: -261px 3px 0 184px;
} */
    